<mat-toolbar color="secondary">
  <mat-toolbar-row>
    <a aria-label="Home" class="logo" routerLink="">
        <img src="assets/img/boulough.jpg" width="40" height="40" priority>
        <span class="reddit-text">
          NourWsite
        </span>
    </a>
    <a class="nav-link active" aria-current="page" routerLink="">{{'home' | translate }}</a>
    <a class="nav-link active" aria-current="page" routerLink="/ar">{{'book' | translate}}</a>
    <span class="flexExpand"></span>
    <a class="nav-link active" aria-current="page" routerLink="">Log in</a>

    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput type="text" placeholder="Search">
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
  </mat-toolbar-row> 
 </mat-toolbar>