<div class="container pt-5">
    <div class="title">
        Kalīla wa-Dimna
    </div>
    <div class="title">
        كَلِيلَة ودِمْنَة ـ
        <a href="#jump">لابن المقفع</a>
    </div>
   <p style="text-align: center;">This website expose Kalīla wa-Dimna in a very developed way, in Arabic, French and English.<strong>
</strong></p> 
    <p>The book is a collection of fables. The book consists of fifteen chapters containing many fables whose heroes are animals. </p>
    <p> A remarkable animal character is the lion, who plays the role of the king; he has a servant ox Shetrebah, while the two jackals of the title, Kalila and Dimna, appear both as narrators and as protagonists</p>
    <p>Its likely origin is the Sanskrit Panchatantra. The book has been translated into many languages, with surviving illustrations in manuscripts from the 13th century onwards.</p>


    <h2 style="text-align: right;font-size: 30px;" id="jump">تعريف بـابن المقفع</h2>
    <p style="text-align: right;">
        فارسي الأصل، وُلِد في قرية بفارس اسمها جور (فيروز أباد)، مؤرخون أخرون ينسبون مولده للبصرة، كان اسمه روزبه پور دادویه (روزبه بن داذويه)، وكنيته «أبا عمرو»، 
    </p>
</div>

