<div class="container pt-5">
    <div class="title">
        Boulough Al Marâm
    </div>
    <div class="title">
        كتاب بلوغ المرام من أدلة الأحكام ـ
        <a href="#jump">لإبن حجر العسقلاني</a>
    </div>
   <p style="text-align: center;"><strong>Ce site vous présente Bulugh al-Maram d'une manière très développer, en arabe, français et en anglais
</strong></p> 
    <p>Bulugh al-Maram is the shortened name of the collection of hadith by al-Hafidh ibn Hajar al-Asqalani entitled,</p>
    <p>Bulugh al-Maram min Adillat al- Ahkam (translation: Attainment of the Objective According to Evidences of the Ordinances).</p>
    <p>It contains a total of 1358 hadiths.</p>
    <p>At the end of each hadith narrated in Bulugh al-Maram, al-Hafidh ibn Hajar mentions who collected that hadith originally.</p>


    <h2 style="text-align: right;font-size: 30px;" id="jump">تعريف بـ الإمام الحافظ ابن حجر العسقلاني</h2>
    <p style="text-align: right;">
        هو الإِمام الحافظ، شهاب الدين أبو الفضل أحمد بن علي بن محمد بن محمد بن علي بن محمود الكناني العسقلاني المصري، ثم القاهري الشّافعي الشّهير بابن حجر.ولد في شعبان سنة ثلاث وسبعين وسبعمائة.نشأ يتيمَ الأبوين في غاية من العفة والصيانة، راهق ولم يكن له صبوة، ودخل في الكُتَّاب ولم يتجاوز عامه الخامس، وبدت عليه علامات الذكاء والنَّجابة، وقوة الحفظ، فحفظ في مبدأ الطلب جملة وافرةً من المتون في شتّى الفنون، وكان رحمه الله رُزق في صغره سرعةَ الحفظ بحيث يحفظ كلّ يوم نصفَ حزبٍ، وبلغ من أمره في ذلك أنّه حَفِظَ سورة مريم في يومٍ واحدِ، وأنّه كان في أكثر الأيّام يصحَّح الصّفحة من “الحاوي الصغير” ثمّ يقرأها تأملاً مرّة أخرى، ثم يعرضها في الثَّالثة حفظاً، ولم يكن -رحمه الله تعالى- حفظُه الدَّرسَ على طريقة الأطفال، بل كان حفظه تأملا
    </p>
</div>

