
services:
  db-bolough:
    image: mysql:5.7
    container_name: db-bolough
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: db-bolough
      MYSQL_USER: nour
      MYSQL_PASSWORD: 1234
    ports:
      - "3306:3306"
    networks:
      - net-bolough
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
      timeout: 5s
      retries: 10
    volumes:
      - ./volume-data/mysql:/var/lib/mysql
      - ./docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  volume-data:
networks:
  net-bolough:
    driver: bridge
