version: '3'
services:
  db-bolough:
    image: mysql:5.7
    container_name: db-bolough
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: db-bolough
      MYSQL_USER: nour
      MYSQL_PASSWORD: 1234
    ports:
      - "3306:3306"
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
      timeout: 5s
      retries: 10

  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin
    environment:
      PMA_HOST: db-bolough
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
    restart: always
    ports:
      - 7777:80