@media (max-height: 800px) {
    .container {
     margin-bottom: 100px;
    }
  }

  ul{
    padding: 0;
    margin: 0;
  }
  ul li {
    display: inline;
    padding-left: 10px;
  }

  hr{
    padding: 0;
    margin: 0;
  }

  .container{
    background-color: #f9f7f2;
    border-radius: 10px;
  }