/* You can add global styles to this file, and also import other style files */
body{
    background-color: #f3efe6
}
/* p{
    font-family: KFGQPC Uthman Taha Naskh, KFGQPC Uthmanic Script HAFS, Scheherazade, Traditional Arabic, Trebuchet MS, Arial, Helvetica;
    font-size: 19px;
} */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
