<mat-card class="main-form" [formGroup]="mainForm">
    <mat-card-title class="add-content">Add Content</mat-card-title>
    
    <mat-card class="form-card">
       <mat-form-field>
            <mat-label>lang</mat-label>
            <mat-select matNativeControl required [formControl]="langCtrl">
                <mat-option></mat-option>
                <mat-option value="en">English</mat-option>
                <mat-option value="ar">Arabic</mat-option>
                <mat-option value="fr">Franch</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card>

    <mat-card class="form-card">
        <mat-card-subtitle></mat-card-subtitle>
        <div class="form-row">
            <mat-form-field appearance="fill" class="mat-form-field-style">
                <mat-label>Kitab</mat-label>
                <input matInput type="text" placeholder="kitab" [formControl]="kitabCtrl">
            </mat-form-field>
            <mat-form-field appearance="fill" class="mat-form-field-style">
                <mat-label>Chapter</mat-label>
                <input matInput type="text" placeholder="Chapter" [formControl]="chapterCtrl">     
            </mat-form-field>
            <mat-form-field appearance="fill" class="mat-form-field-style">
                <mat-label>Name</mat-label>
                <input matInput type="text" placeholder="name" [formControl]="nameCtrl">
            </mat-form-field>
            <mat-form-field appearance="fill" class="mat-form-field-style">
                <mat-label>Isnaad</mat-label>
                <input matInput type="text" placeholder="isnaad" [formControl]="isnaadCtrl">     
            </mat-form-field>
        </div>
    </mat-card>

    <mat-card class="form-card">
        <mat-card-subtitle></mat-card-subtitle>
        <div class="form-row">
            <mat-form-field appearance="fill" class="mat-form-field-style">
                <mat-label>Matn</mat-label>
                <input matInput type="text" placeholder="Matn" [formControl]="matnCtrl">
            </mat-form-field>
            <mat-form-field appearance="fill" class="mat-form-field-style">
                <mat-label>Takhrij</mat-label>
                <input matInput type="text" placeholder="Takhrij" [formControl]="takhrijCtrl">     
            </mat-form-field>
            <mat-form-field appearance="fill" class="mat-form-field-style">
                <mat-label>Tahkeek</mat-label>
                <input matInput type="text" placeholder="tahkeek" [formControl]="hameshCtrl">
            </mat-form-field>
        </div>
    </mat-card>

    <mat-card class="form-card">
        <mat-card-subtitle></mat-card-subtitle>
        <div class="form-row">
            <mat-form-field appearance="fill" class="mat-form-field-style">
                <mat-label>Link1</mat-label>
                <input matInput type="text" placeholder="Link bas" [formControl]="basamLinkCtrl">     
            </mat-form-field>
            <mat-form-field appearance="fill" class="mat-form-field-style">
                <mat-label>Link2</mat-label>
                <input matInput type="text" placeholder="Link san" [formControl]="san3aniLinkCtrl">
            </mat-form-field>
            <mat-form-field appearance="fill" class="mat-form-field-style">
                <mat-label>Link3</mat-label>
                <input matInput type="text" placeholder="Link outh" [formControl]="youtubeLinkCtrl">     
            </mat-form-field>  
        </div>
    </mat-card>

    <mat-card-actions>
        <button color="primary" class="btn-save" mat-raised-button color="primary" (click)="onCreateContent(mainForm)" [disabled]="mainForm.invalid">SAVE</button>
        <button mat-flat-button 
                color="primary" 
                class="btn-discard"
                matTooltip="Redirect to book page" 
                color="warn" (click)="onDiscard()">Discard</button>
    </mat-card-actions>

    <div *ngIf="showMessage">
        <p class="register-success-text" class="success-msg">{{registerSuccessMessage}}</p>
    </div>
    <div *ngIf="showMessage">
        <p class="fail-msg">{{registerErreurMessage}}</p>
    </div>

</mat-card>

